# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @chrisohaver @johnbelamaric @miekg @yongtang @bradbeam @dilyevsky @fastest963 @greenpau @isolus @pmoroney @rajansandeep @stp-ip @superq @houyuwushang 
